<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="EsyCRM is the easiest sales CRM and pipeline management software available that helps your team to deliver results. From small businesses, startups and non-profits to multinational corporations, teams love using EsyCRM. Ready to improve your sales? Sign up in seconds." />
    <link rel="canonical" href="https://EsyCRM.com/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Easiest sales CRM software available - EsyCRM" />
    <meta property="og:description" content="EsyCRM is the easiest sales CRM and pipeline management software available that helps your team to deliver results. From small businesses, startups and non-profits to multinational corporations, teams love using EsyCRM. Ready to improve your sales? Sign up in seconds." />
    <meta property="og:url" content="https://EsyCRM.com/" />
    <meta property="og:site_name" content="EsyCRM" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="EsyCRM is the easiest sales CRM and pipeline management software available that helps your team to deliver results. From small businesses, startups and non-profits to multinational corporations, teams love using EsyCRM. Ready to improve your sales? Sign up in seconds." />
    <meta name="twitter:title" content="Easiest sales CRM software available - EsyCRM" />
    <meta name="format-detection" content="telephone=no">
    <script type='application/ld+json'>
    { "@context": "https:\/\/schema.org", "@type": "WebSite", "@id": "#website", "url": "https:\/\/EsyCRM.com\/", "name": "EsyCRM", "potentialAction": { "@type": "SearchAction", "target": "https:\/\/EsyCRM.com\/?s={search_term_string}", "query-input": "required name=search_term_string" } }
    </script>
    <!-- / Yoast SEO plugin. -->
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title="EsyCRM &raquo; Feed" href="https://EsyCRM.com/feed/" />
    <link rel="alternate" type="application/rss+xml" title="EsyCRM &raquo; Comments Feed" href="https://EsyCRM.com/comments/feed/" />
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="og:title" content="Easiest sales CRM software available">
    <meta name="og:type" content="website">
    <meta name="og:url" content="https://EsyCRM.com/">
    <title>Easiest FREE Sales CRM - EsyCRM</title>
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/sb-admin.css" rel="stylesheet">
      <!-- Favicons -->
  <link href="/favicon-16x16.png" rel="icon">
  <link href="/apple-touch-icon.png" rel="apple-touch-icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
  rel="stylesheet">
  <script src="https://kit.fontawesome.com/356617c280.js" crossorigin="anonymous"></script>
  <!-- Bootstrap CSS File -->
  <link href="/css/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Libraries CSS Files -->
  <link href="/css/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/css/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/css/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/css/lib/lightbox/css/lightbox.min.css" rel="stylesheet">  
  <link rel="stylesheet" type="text/css" href="/css/jquery-eu-cookie-law-popup.css" />
    <!-- Custom styles for this template -->
    <link href="/css/business-frontpage.css" rel="stylesheet">
    <link rel="shortcut icon" href='/favicon.ico' type="image/x-icon" />
    <script type="text/javascript">
    function disableCtrlKeyCombination(e) {
        var forbiddenKeys = new Array("a", "s", "c", "x", "u");
        var key;
        var isCtrl;
        if (window.event) {
            key = window.event.keyCode;
            //IE
            if (window.event.ctrlKey)
                isCtrl = true;
            else
                isCtrl = false;
        } else {
            key = e.which;
            //firefox
            if (e.ctrlKey)
                isCtrl = true;
            else
                isCtrl = false;
        }
        if (isCtrl) {
            for (i = 0; i < forbiddenKeys.length; i++) {
                //case-insensitive comparation
                if (forbiddenKeys[i].toLowerCase() == String.fromCharCode(key).toLowerCase()) {
                    return false;
                }
            }
        }
        return true;
    }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CQQ4LRLTVR"></script>
    <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-CQQ4LRLTVR');
    </script>

</head>

<body class="bg-dark">

  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">You have made an error just now</div>
      <div class="card-body">
        <div id="login_result" class="alert alert-error" role="alert"><b>{{ error }}</b> <br><button type="button" class="btn btn-warning"><a href="/">Click here to go back</a></button></div>       
        <div class="text-center small text-danger mt-3">We use similar to bank grade highly secure login system with dynamic two way SHA256 hash system.</div>
      </div>
    </div>    
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="vendor/jquery/jquery.validate.min.js"></script>

  <script src="js/sb-admin.js"></script>
</body>

</html>