{% extends "base.html.twig" %}
{% block title %}Index
{% endblock %}
{% block head %}
{{ parent() }}
<style type="text/css">
.important {
    color: #336699;
}
</style>
{% endblock %}
{% block content %}
<!-- Google adsence -->
<!--amp-auto-ads type="adsense" data-ad-client="ca-pub-9970686429481173">
    </amp-auto-ads-->
<!-- Google adsence -->
<!-- Header -->
<div class="container">
    <header class="mt-mb-10">
        <div id="intro" class="h-100">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="display-4"><b>EASIEST WAY TO SELL</b></h1><br>
                    <p>
                        EsyCRM helps you to migrate your business from a worksheet to an online world. Yes, it is FREE. No Credit Card required.
                    </p>
                </div>
                <div class="col-lg-6">
                    <img src="/images/output1.gif" width="100%" height="100%" alt="esycrm">
                </div>
            </div>
        </div>
    </header>
    <!-- Page Content -->
    <div id="about" class="mt-mb-5">
        <div class="row">
            <div class="col-md-12 mb-5">
                <h2>What is EsyCRM</h2>
                <hr>
                <p>
                    Customer Relationship Management (CRM) is a system that manages customer interactions and data throughout the customer lifecycle between the customer and the company across different channels.
                </p>
                <p>
                    When you use Esy CRM to manage contacts and sales activities, you’ll increase win rates by 26%, boost sales productivity by 36%, and get 30% increase in revenue. Discover how Esy CRM is committed to your success. Learn how we can help you find, win, and keep customers to grow.
                </p>
                <p>
                    All your deals, contacts and to-dos in one collaborative workspace. Esy CRM is a FREE Esy CRM and pipeline management SaaS based software.
                </p>
                <p>
                    Upload, update and manage your customers relation data in real time. Clean your customer data and keep it relevant. Easy to use yet secure, powerful Sales CRM for almost every business from small, individual owner, freelancer to startup - FREE.
                </p>
                <p>
                    Every week new feature!
                </p>
                <p>
                    EsyCRM is a Web-based Sales CRM. But you can use EsyCRM in your smart phone sames way as web.
                </p>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#whatissalescrm">
                    Learn more &raquo;
                </button>
                <!-- Modal -->
                <div class="modal fade" id="whatissalescrm" tabindex="-1" role="dialog" aria-labelledby="Wha is Esy CRM" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Esy CRM</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Customer relationship management (CRM) is an approach to manage a company's interaction with current and potential customers. It uses data analysis about customers' history with a company to improve business relationships with customers, specifically focusing on customer retention and ultimately driving sales growth.<br>
                                    One important aspect of the CRM approach is the systems of CRM that compile data from a range of different communication channels, including a company's website, telephone, email, live chat, marketing materials and more recently, social media.[2] Through the CRM approach and the systems used to facilitate it, businesses learn more about their target audiences and how to best cater to their needs.Customer relationship management (CRM) is the combination of practices, strategies and technologies that companies use to manage and analyze customer interactions and data throughout the customer lifecycle, with the goal of improving customer service relationships and assisting in customer retention and driving sales growth.</p>
                                <p>Types of CRM technology:</p>
                                <p>On-premises CRM: This system puts the onus of administration, control, security and maintenance of the database and information on the company using the CRM software. With this approach, the company purchases licenses upfront instead of buying yearly subscriptions from a cloud CRM provider.</p>
                                <p>Cloud-based CRM: With cloud-based CRM, also known as SaaS (software as a service) or on-demand CRM, data is stored on an external, remote network that employees can access anytime, anywhere there is an internet connection, sometimes with a third-party service provider overseeing installation and maintenance. The cloud's quick, relatively easy deployment capabilities appeal to companies with limited technological expertise or resources.
                                </p>
                                <p>Benefit of CRM: Enhanced ability to target profitable customers. Integrated assistance across channels Enhanced sales force efficiency and effectiveness Improved pricing Customized products and services Improved customer service efficiency and effectiveness Individualized marketing messages also called campaigns Connect customers and all channels on a single platform.
                                </p>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- modal end -->
            </div>
        </div>
        <!-- /.row -->
        <div id="team" class="mt-mb-5">
            <div class="row">
                <div class="col-md-12 mb-5">
                    <h3>Team</h3>
                    <p>We have our distributed experts team members from around the world. We are continue looking for
                        bright minded. Esy CRM will be launched very soon all over the world.</p>
                    <p>I am <a href="https://dhirajpatra.github.io" target="_blank">Dhiraj</a> an Software Archnitect, e-Resident, world traveller and Social Entrepreneur more than 21 yrs experiences in progressive software development. I found that freelancer, micro entreprenure, small businesses must need a easy to use yet powerful, secure Kanban Pipeline based CRM. So I have created this application with few of my team members. I have used my long experiences of working for startup and established businesses both. With that knowledge tried to solve your most important part of the business, customer Relationship. I shall update it with many more features if you feel it worthy for your businesses. Kindly send us suggestion so that we can update as per your need.
                        Regards</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 wow fadeInUp">
                    <div class="member">
                        <img src="images/team-1.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Dhiraj</h4>
                                <span>Co-founder & Architect</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp">
                    <div class="member">
                        <img src="images/team-2.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Ibrahim</h4>
                                <span>AI, ML, DL</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp">
                    <div class="member">
                        <img src="images/team-3.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Tanushree</h4>
                                <span>Co-founder</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp">
                    <div class="member">
                        <img src="images/team-5.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Opoku</h4>
                                <span>Developer</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br clear="all">
            <div class="row">
                <div class="col-lg-3 col-md-6 wow fadeInUp">
                    <div class="member">
                        <img src="images/team-intern.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>With Interns</h4>
                                <span>Co-founder & International Interns</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon">
                            <i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i>
                        </div>
                        <h4 class="title">
                            <a href="">We are hiring intern</a>
                        </h4>
                        <p class="description">If you are interested to work with us, kindly send a copy of cv along
                            with motivation to<br>
                            info@ esycrm.com</p>
                        <b>
                            See our technology stack
                            <a href="https://stackshare.io/esy-crm/default">here</a>.
                        </b>
                    </div>
                </div>
            </div>
            <br clear="all">
        </div>
        <div id="why" class="mt-mb-5 row">
            <div class="col-md-12 mb-5">
                <h3>Do you need CRM</h3>
                <p>
                    Even though the benefits that CRM brings to the sales teams may not be immediately recognizable, they are still game-changing if implemented right. And since those are the sales people that need CRM the most, in this blog post I will bring out the key
                    reasons why CRM can help them achieve their sales goals faster and improve results. So, why do sales people need CRM? Without fear of oversimplifying, the biggest challenges that sales people face are
                    <ol>
                        <li>how to qualify and follow up on leads and </li>
                        <li>how to prioritize sales activities. However, CRM is a tool that not only solves those key problems. In fact, it is able to handle other, no less pressing issues. Watch the video below or scroll down to read why sales people
                            need CRM. </li>
                        <li>a safe storage space CRM helps sales people to safely and centrally store their contacts, sales opportunities, activities and scheduled plans in one place, and have uninterrupted access to the database
                            from multiple locations. Rest assured that your data won’t just get lost.</li>
                        <li>Plan and time-manage like a pro CRM helps sales people to optimize their daily schedules and prioritize tasks to make sure customers are not ignored and the key prospects are contacted on time. In fact, CRM allows sales
                            people to spend more time with customers, which leads to more deals closed and a stronger customer base. </li>
                        <li>Activity reports? – No brainer! CRM helps sales people to easily prepare their weekly or monthly reports for management. The process is automated and transparent, and takes just a few clicks to inform others about what
                            sales are currently in progress. </li>
                        <li>Stop surfing, start targeting CRM helps sales people to segment data and identify valuable opportunities via criteria based selections. This prevents you from hours of cutting and pasting from various documents, or surfing
                            in the disorganized lists of data. </li>
                        <li>Stay up-to-date on what’s happening CRM offers shared calendars, document templates and e-mail integration, uniting all team members and keeping everyone up-to-date. Sharing selling patterns and processes allows sales people
                            to see what works best. CRM also increases communication between the sales force and sales management. </li>
                        <li>Show up in time for the new sale By tracking all communication with the customers, CRM helps sales people to know exactly when customers need to be contacted; for example, for product replacement, contract renewal, or for
                            an upsell to a new product or service. This all increases your chances of closing a sale. </li>
                        <li>Rationalize your sales moves CRM helps streamline the entire sales cycle, which results in closing deals in your sales pipeline and helping everyone in the team to reach targets faster. Since order processing and preparing
                            quotes is automated in CRM, sales teams are able to reduce production costs and increase sales revenue. </li>
                        <li>Know what your customers really want Since all the customer-related data is stored in CRM, it helps sales people to analyze the needs of customers and even anticipate their problems – all at the right time. All this increases
                            customer satisfaction and ensures loyalty, as well as higher profit margins. </li>
                        <li>Cut down on admin tasks CRM releases the sales teams from the majority of admin tasks by reducing and even removing some of the repetitive actions that take a lot of time, but yield little profitability. CRM stores product
                            and price details, triggers reminders for activities, and takes sales people through the sales pipeline step by step. </li>
                        <li>Save money Even though CRM systems are not cheap, they actually help you save your money! With
                            sales people, it is the reduction of errors (for example, in orders or quotes) that CRM can help with. Effort and cost related to correcting those errors may be much higher. Finally, it also boils down to such trivial
                            things as saving money on those cluttering and often vanishing Post-it notes, since every new information can be safely stored in the system.</li>
                    </ol>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="images/deal1.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Manage your deals</h4>
                        <p class="card-text">Confusing moments and forgotten customers? Not anymore. Simply track the progress of your deals. Get the most from your sales by easily managing all your pipeline activities.</p>
                    </div>
                    <!--div class="card-footer">
                        <a href="#" class="btn btn-primary">Find Out More!</a>
                    </div-->
                </div>
            </div>
            <div class="col-md-3 mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="images/contact.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Keep your contacts sorted & stay on schedule</h4>
                        <p class="card-text">Keep all your contacts in one place – get a bigger picture of all your customers by knowing which deals they are involved in. You never have to ask “Who is working on what?" again.</p>
                        <p>
                            Forget chaos and uncompleted work! Esy CRM To-dos is your new notebook. Set deadlines and plan ahead. We remind you on what you should be working right now. Esy CRM makes tracking activities a piece of cake.
                        </p>
                    </div>
                    <!--div class="card-footer">
                        <a href="#" class="btn btn-primary">Find Out More!</a>
                    </div-->
                </div>
            </div>
            <div class="col-md-3 mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="images/analysis2.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Analyze and optimize your work</h4>
                        <p class="card-text">Make better decisions, know, what is happening and improve your work with Esy CRM Analysis. Know who your main revenue sources are, and how you and your team members are doing.</p>
                    </div>
                    <!--div class="card-footer">
                        <a href="#" class="btn btn-primary">Find Out More!</a>
                    </div-->
                </div>
            </div>
            <div class="col-md-3 mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="images/secure1.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Safe, secure & FREE</h4>
                        <p class="card-text">Protecting your information is our highest priority. We operate over Secure Sockets Layer protocol (HTTPS), so that the information exchange between you and Esy CRM is encrypted. Encrypted full data backups are created daily. Our servers are located at a high grade security data center.</p>
                        <p>
                            Yes we said it is free, we mean it. No set-up fees, no hidden charges, no monthly fee.
                        </p>
                    </div>
                    <!--div class="card-footer">
                        <a href="#" class="btn btn-primary">Find Out More!</a>
                    </div-->
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- /.row -->
        <div id="features" class="mt-mb-5 row">
            <div class="col-md-12 mb-5">
                <div class="section-header">
                    <h3>Features</h3>
                </div>
                <div class="row">
                    <div class="col-md-6 wow fadeInUp">
                        <div class="member">
                            <div class="card-body">
                                <p>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <b>Features for Esy CRM FREE version</b>
                                        </li>
                                        <li class="list-group-item list-group-item-primary">Very easy to use yet
                                            professional design</li>
                                        <li class="list-group-item list-group-item-secondary">Two step highly secure
                                            login. Data in safe cloud server.</li>
                                        <li class="list-group-item list-group-item-success">Push Notification for all
                                            type of appointment.</li>
                                        <li class="list-group-item list-group-item-danger">Dynamic Pipeline, you create
                                            your own or use default</li>
                                        <li class="list-group-item list-group-item-warning">Create, edit or update Todo,
                                            Deal, Contact very fast</li>
                                        <li class="list-group-item list-group-item-info">AI based Analytics Reports to
                                            quick view of your business</li>
                                        <li class="list-group-item list-group-item-light">You can use from your Phone as
                                            well</li>
                                        <li class="list-group-item list-group-item-dark">Any key press search for your
                                            Contact, Deal, To do</li>
                                        <li class="list-group-item list-group-item-secondary">Sales Manager Admin panel
                                        </li>
                                        <li class="list-group-item list-group-item-success">Can create up to 5 Sales
                                            Representative Account</li>
                                        <li class="list-group-item list-group-item-danger">AI based Analytics for all
                                            Sales Representatives status</li>
                                        <li class="list-group-item list-group-item-warning">Value added services
                                            provisions</li>
                                        <li class="list-group-item list-group-item-primary">Only after email
                                            verification any Account become active</li>
                                        <li class="list-group-item list-group-item-light">CSV based bulk upload your all
                                            existing Contacts</li>
                                        <li class="list-group-item list-group-item-success">You can add Google Calendar
                                            to get notification directly</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInUp">
                        <div class="member">
                            <div class="card-body">
                                <p>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <b>Features for other CRM</b>
                                        </li>
                                        <li class="list-group-item">Hard to understand what to do, how to do</li>
                                        <li class="list-group-item">Only email & password login.</li>
                                        <li class="list-group-item">Notification only for specific.</li>
                                        <li class="list-group-item">Static Pipeline, you have to follow the default</li>
                                        <li class="list-group-item">Create, edit or update Todo, Deal, Contact ambiguous
                                            way</li>
                                        <li class="list-group-item">Normal Reports to quick view of your business</li>
                                        <li class="list-group-item">Not responsive design</li>
                                        <li class="list-group-item">Pathetic searches</li>
                                        <li class="list-group-item">No separate Sales Manager Admin panel</li>
                                        <li class="list-group-item">Manager and Sales Representative Account are all
                                            same</li>
                                        <li class="list-group-item">No AI or smart technologies</li>
                                        <li class="list-group-item">For everything which is required need to pay a hefty
                                            monthly fees</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Price -->
                    <div id="options" class="mt-5 pricing py-5">
                        <div class="row">
                            <!-- Free Tier -->
                            <div class="col-lg-4">
                                <div class="card mb-5 mb-lg-0">
                                    <div class="card-body">
                                        <h5 class="card-title text-muted text-uppercase text-center">Direct</h5>
                                        <h6 class="card-price text-center"><i class="fas fa-euro-sign"></i><b>0</b><span class="period">/month</span></h6>
                                        <hr>
                                        <ul class="fa-ul">
                                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Manager Panel</li>
                                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Fully Customizable Kanban
                                                Pipeline</li>
                                            <li><span class="fa-li"><i class="fas fa-check"></i></span>5 Sales Representative
                                            </li>
                                            <li><span class="fa-li"><i class="fas fa-check"></i></span>500 Contacts At A Time
                                            </li>
                                            <li><span class="fa-li"><i class="fas fa-check"></i></span>100 Deals At A Time</li>
                                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Email Assistance</li>
                                            <li class="text-muted"><span class="fa-li"><i class="fas fa-check"></i></span>Each
                                                Referal 100 more Contacts</li>
                                            <li class="text-muted"><span class="fa-li"><i class="fas fa-check"></i></span>Each
                                                Referal 50 more Deals</li>
                                        </ul>
                                        <a href="#footer" class="btn btn-block btn-primary text-uppercase">Subscribe</a>
                                    </div>
                                </div>
                            </div>
                            <!-- free Tier -->
                            <!-- Plus Tier -->
                            <div class="col-lg-4">
                                <div class="card mb-5 mb-lg-0">
                                    <div class="card-body">
                                        <h5 class="card-title text-muted text-uppercase text-center">Via Referal</h5>
                                        <h6 class="card-price text-center"><i class="fas fa-euro-sign"></i><b>0</b><span class="period">/month</span></h6>
                                        <hr>
                                        <ul class="fa-ul">
                                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Manager Panel</li>
                                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Fully Customizable Kanban
                                                Pipeline</li>
                                            <li><span class="fa-li"><i class="fas fa-check"></i></span>5 Sales Representative
                                            </li>
                                            <li><span class="fa-li"><i class="fas fa-check"></i></span>600 Contacts At A Time
                                            </li>
                                            <li><span class="fa-li"><i class="fas fa-check"></i></span>150 Deals At A Time</li>
                                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Email Assistance</li>
                                            <li class="text-muted"><span class="fa-li"><i class="fas fa-check"></i></span>Each
                                                Referal 100 more Contacts</li>
                                            <li class="text-muted"><span class="fa-li"><i class="fas fa-check"></i></span>Each
                                                Referal 50 more Deals</li>
                                        </ul>
                                        <a href="#footer" class="btn btn-block btn-primary text-uppercase">Subscribe</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Plus Tier -->
                            <!-- e-Resident Tier -->
                            <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title text-muted text-uppercase text-center">e-Residents</h5>
                                        <h6 class="card-price text-center"><i class="fas fa-euro-sign"></i><b>0</b><span class="period">/month</span></h6>
                                        <hr>
                                        <ul class="fa-ul">
                                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Manager Panel</li>
                                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Fully Customizable Kanban
                                                Pipeline</li>
                                            <li><span class="fa-li"><i class="fas fa-check"></i></span>10 Sales Representative
                                            </li>
                                            <li><span class="fa-li"><i class="fas fa-check"></i></span>1000 Contacts At A Time
                                            </li>
                                            <li><span class="fa-li"><i class="fas fa-check"></i></span>200 Deals At A Time</li>
                                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Email Assistance</li>
                                            <li class="text-muted"><span class="fa-li"><i class="fas fa-check"></i></span>Each
                                                Referal 100 more Contacts</li>
                                            <li class="text-muted"><span class="fa-li"><i class="fas fa-check"></i></span>Each
                                                Referal 50 more Deals</li>
                                        </ul>
                                        <a href="#footer" class="btn btn-block btn-primary text-uppercase">Subscribe</a>
                                    </div>
                                </div>
                            </div>
                            <!-- e-Resident Tier -->
                        </div>
                        <button class="top_button"><a href="#intro" id="backToTopBtn" class="top_button"><i class="fas fa-arrow-up"></i></a></button>
                    </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- footer -->
    <footer id="contact" class="footer">
        <div class="row">
            <div class="col-md-5 text-center text-md-left ">
                <div class="py-0">
                    <h3 class="my-4 text-blue">
                        <span class="mx-2">EsyCRM</span>
                    </h3>
                    <p class="footer-links font-weight-bold">
                        <a class="text-blue" href="https://biz-keeper.com" target="_blank">BizKeeper</a>
                        |
                        <a class="text-blue" href="terms.html" target="_blank">Terms of Services</a>
                        |
                        <a class="text-blue" href="privacy_policy.html" target="_blank">Privacy Policy</a>
                    </p>
                    <p class="text-dark py-4 mb-4">&copy;2019 EsyCRM</p>
                </div>
            </div>
            <div class="col-md-3 text-blue text-center text-md-left ">
                <div class="py-2 my-4">
                    <div>
                        <p class="text-blue">
                            <i class="fa fa-map-marker mx-2 "></i>
                            Talinn, Estonia</p>
                    </div>
                    <div>
                        <p>
                            <i class="fa fa-phone  mx-2 "></i>
                            +91 789 327 3022</p>
                    </div>
                    <div>
                        <p>
                            <i class="fa fa-envelope  mx-2"></i>
                            <a href="mailto:support@eduonix.com">info@esycrm.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-blue my-4 text-center text-md-left ">
                <span class=" font-weight-bold ">About the Company</span>
                <p class="my-2">We are small startup with highly experienced team members decided to help freelancers and small business to compete with powerful tools. We will create powerful tools for you one after another. Stay with us to get more powerful tools for you they are FREE.</p>
                <div class="py-2">
                    <a href="https://www.facebook.com/Esy-CRM-102587717878760/" target="_blank">
                        <i class="fab fa-facebook fa-2x text-primary mx-3"></i>
                    </a>
                    <a href="https://www.instagram.com/dhiraj.patra/" target="_blank">
                        <i class="fab fa-instagram fa-2x text-danger mx-3"></i>
                    </a>
                    <a href="https://twitter.com/dhirajpatra" target="_blank">
                        <i class="fab fa-twitter fa-2x text-info mx-3"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCVYx2xiLn0G49t6mP_QTT6w?view_as=subscriber" target="_blank">
                        <i class="fab fa-youtube fa-2x text-danger mx-3"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <!-- end of footer -->
</div>
<!-- /.container -->
</body>
<!-- condition Modal -->
<div class="modal fade" id="condition-modal" tabindex="-1" role="dialog" aria-labelledby="Wha is Esy CRM" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Conditions for FREE Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Customer relationship management (CRM) is an approach to manage a company's interaction with current and potential customers. It uses data analysis about customers' history with a company to improve business relationships with customers, specifically focusing on customer retention and ultimately driving sales growth.<br></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- modal end -->{% endblock %}