<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="/images/logo.png" width="40" height="40" alt="esy crm logo">
                <b>EsyCRM</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse main-nav" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav_a" href="#intro">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav_a" href="#why"> What is CRM </a>
                </li>
                <li class="nav-item">
                    <a class="nav_a" href="#about"> About </a>
                </li>
                <li class="nav-item">
                    <a class="nav_a" href="#team"> Team </a>
                </li>
                <li class="nav-item">
                    <a class="nav_a" href="#features"> Features </a>
                </li>
                <li class="nav-item">
                    <a class="nav_a" href="#options"> Options </a>
                </li>
                <li class="nav-item">
                    <a class="nav_a" href="#contact"> Contact </a>
                </li>                
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/register" class="nav_a"><span class="glyphicon glyphicon-user btn btn-secondary"> Sign Up </span></a></li>
                <li><a href="/login" class="nav_a"><span class="glyphicon glyphicon-log-in btn btn-warning"> Your Account </span></a></li>
            </ul>
        </div>
    </div>
</nav>