<!-- Sticky Footer -->
<footer class="ui inverted vertical footer segment form-page">
	<div class="ui container my-auto">
		<div class="copyright text-center my-auto">
			<span>BizHive OÜ - <strong>EsyCRM</strong> &copy; <?php echo date('Y'); ?> All rights reserved</span>
			<span>Contact: support@esycrm.com</span>
		</div>
	</div>
</footer>