<script src="/js/proper.min.js"></script>
<!-- Bootstrap core JavaScript-->
<!--script src="/vendor/jquery/jquery.min.js"></script-->
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="/semantic/semantic.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="/vendor/chart.js/Chart.min.js"></script>
<script src="/vendor/datatables/jquery.dataTables.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.js"></script>
<script src="/js/jquery.validate.min.js"></script>

<link rel="stylesheet" href="/js/jquery-ui.css">
<script src="/js/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/umd/util.js"></script>


<!-- Custom scripts for all pages-->
<script src="/js/sb-admin.min.js"></script>
<script src="/js/sb-super.js"></script>
</body></html>
