<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin - Dashboard</title>
    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.min.css" rel="stylesheet">
    <link rel="”shortcut" icon” href="”favicon.ico”" type="”image/x-icon”" />
    <script src="/js/ckeditor/ckeditor.js"></script>

    <link rel="stylesheet" type="text/css" href="/semantic/semantic.css">   

    <script type="text/javascript">
    // function mousehandler(e) {
    //     var myevent = (isNS) ? e : event;
    //     var eventbutton = (isNS) ? myevent.which : myevent.button;
    //     if ((eventbutton == 2) || (eventbutton == 3)) 
    //         return false;


    // }
    // document.oncontextmenu = mousehandler;
    // document.onmousedown = mousehandler;
    // document.onmouseup = mousehandler;
    // function disableCtrlKeyCombination(e) {
    //     var forbiddenKeys = new Array("a", "s", "c", "x", "u");
    //     var key;
    //     var isCtrl;
    //     if (window.event) {
    //         key = window.event.keyCode;
    //         // IE
    //         if (window.event.ctrlKey) 
    //             isCtrl = true;
    //          else 
    //             isCtrl = false;


    //     } else {
    //         key = e.which;
    //         // firefox
    //         if (e.ctrlKey) 
    //             isCtrl = true;
    //          else 
    //             isCtrl = false;


    //     }
    //     if (isCtrl) {
    //         for (i = 0; i < forbiddenKeys.length; i ++) { // case-insensitive comparation
    //             if (forbiddenKeys[i].toLowerCase() == String.fromCharCode(key).toLowerCase()) {
    //                 return false;
    //             }
    //         }
    //     }
    //     return true;
    // }
    </script>

    <!--script data-ad-client="ca-pub-9970686429481173" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script-->
</head>

<body id="page-top" oncontextmenu="return false"></body>

</html>