{% include 'admin/head.html.twig' %}
{% include 'admin/menu.html.twig' %}
<div id="wrapper">
    {% include 'admin/manager/sidebar.html.twig' %}
    <div id="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Add Sales Representatives</a>
                </li>
            </ol>
            <!-- DataTables Example -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Your Sales representatives limit reached.</div>
                <div class="card-body">
                    <div id="frm_invite_sales_rep_server-results" class="alert alert-warning" role="alert">Your Sales representatives limit reached. Kindly contact to admin.</div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
        {% include 'admin/copyright.html.twig' %}
    </div>
    <!-- /.content-wrapper -->
</div>
<!-- google adsence -->
<div id="advt" class="card-body">
</div>
<!-- google adsence -->
<!-- /#wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="../logout.php">Logout</a>
            </div>
        </div>
    </div>
</div>
{% include 'admin/footer.html.twig' %}